spring:
  application:
    name: db-core
  datasource:
    url: jdbc:mysql://localhost:3306/store?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
  properties:
    hibernate:
      show_sql: true